.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  width: 500px;
  margin-top: -100px;
}

.App-header {
  background-color: #190132;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.store-logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.store-logo {
  width: 200px;
  padding: 5px;
}
