.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  width: 120px;
  height: 120px;
  margin-top: -100px;
}

.name {
  color: #e986c1;
  margin-top: -10px;
  margin-bottom: 50px;
}

.App-header {
  background-color: #feeaf6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.store-logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.store-logo {
  width: 200px;
  padding: 5px;
}
